<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      lang="en"
      layout:decorator="layout">

<head>
    <title>Edit User</title>
</head>

<body>
<th:block layout:fragment="content">
    <h1>Edit User Form</h1>

    <form action="#" th:action="@{/useredit}" th:object="${user}" method="post">
        <p>Id: <input type="text" th:field="*{id}"/></p>
        <p>Name: <input type="text" th:field="*{name}"/></p>
        <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
    </form>

</th:block>
</body>
</html>
